@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}


/** container **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}